// 声明变量的文件
$default-background: #ffffff;
$main-button-background: linear-gradient(226deg, #2062F5 0%, #09A3FC 100%);
$main-button-font-color: #ffffff;
$default-font-size: 17px;
$yonstep-finish-ball-background: #18B681;
$yonstep-process-ball-background: #0C79EE;
$yonstep-wait-ball-background: #DCDCDC;
$yonstep-error-ball-background: rgb(235, 57, 65);
$common-mask-background: rgba(29,33,41,.6);
$z1level:  100;
$z10level: 1000;